<!DOCTYPE html>
<html>
    <title>Snapper Hub</title>
    <head>
        <link rel="stylesheet" href="log-in.css">
    </head>

    <body>
        <nav>
            <div class="navigation" role="navigation">
                <div class="nav-bar">
                    <ul>
                        <a class="page-scroll"><span class="header-logo">Snapper Hub</span></a>
                        <li><a class="page-scroll" href="#">View Timetable</a></li>
                        <li><a class="page-scroll" href="/map">Kiosk Map</a></li>
                        <li><a class="page-scroll" href="/pay-online">Top Up</a></li>
                        <li><a class="page-scroll" href="/log-in">Log Out</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            <h1> Fill out Home Page here!</h1>
        </div>
    </body>

<!--    <script src='./js/log-in.js'></script>-->
</html>