<!DOCTYPE html>
<html>
    <title>Snapper Hub</title>
    <head>
        <link rel="stylesheet" href="log-in.css">

        <script>
            function checkLogIn(){

            }
        </script>
    </head>

    <body>
        <nav>
            <div class="navigation" role="navigation">
                <div class="nav-bar">
                    <ul>
                        <a class="page-scroll"><span class="header-logo">Snapper Hub</span></a>
                        <li><a class="page-scroll" href="https://account.snapper.co.nz/register/"
                                target="_blank">Create Account</a></li>
                        <li><a class="page-scroll" href="/home">Guest Account</a></li>
                    </ul>
                </div>
            </div>    
        </nav>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="container">
            <h1> Welcome!</h1>
            <div class="entrybox">
                <form name="myForm" onsubmit="return validateForm()" method="post">
                    <input type ="text" name="username" required autofocus placeholder="Email" class="form-entry">
                    <br>
                    <input type="password" name="password" required autofocus placeholder="Password" class="form-entry">
                    <br>
                    <p style="color:#4040ed">Forgot Password?</p>
                    <button id="loginButton" class="enterbutton" type="submit" value="Submit"
                            onclick="location.href='/home'">Login</button>
                </form>
            </div>
        </div>
    </body>

    <script src='./js/log-in.js'></script>
</html>