<html lang="en">
    <head>
        <title>Nearest Kiosks Page</title>
        <link rel="stylesheet" href="nearest-kiosks.css" />

        <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.4.3/build/ol.js"></script>
    </head>

    <body>
        <h1>Map Testing</h1>

        <div id="kioskMap"></div>
        <script type="text/javascript">
            var map = new ol.Map({
                target: 'kioskMap',
                layers: [
                    new ol.layer.Tile({
                        source: new ol.source.OSM()
                    })
                ],
                view: new ol.View({
                    center: ol.proj.fromLonLat([174.775, -41.292]),
                    zoom: 14
                })
            });
        </script>
    </body>
</html>