<html lang="en">
    <head>
        <title>Nearest Kiosks Page</title>
        <link rel="stylesheet" href="nearest-kiosks.css" />

        <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.4.3/build/ol.js"></script>
    </head>

    <body>
        <nav>
            <div class="navigation" role="navigation">
                <div class="nav-bar">
                    <ul>
                        <a class="page-scroll"><span class="header-logo">Snapper Hub</span></a>
                        <li><a class="page-scroll" href="https://www.metlink.org.nz/timetables/"
                               target="_blank">Metlink Timetables</a></li>
                        <li><a class="page-scroll" href="/pay-online">Top Up</a></li>
                        <li><a class="page-scroll" href="/log-in">Log Out</a></li>
                    </ul>
                </div>
            </div>    
        </nav>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="row">
            <div class="column" style="background-color:  rgb(238, 208, 208);">
                <h2>Nearest Kiosks</h2>
                <input type="text" placeholder="Enter Location.." id="search">
                <select name="filter" id="filter">
                    <option value="filter">Walking</option>
                    <option value="filter">By Car</option>
                  </select>
                  <br>
                  <br>
                  <div class="container">
                      <br>
                      <ul>
                          <li>Location 1</li>
                          <br>
                          <li>Location 2</li>
                          <br>
                          <li>Location 3</li>
                          <br>
                          <li>Location 4</li>
                          <br>
                          <li>Location 5</li>
                      </ul>
                  </div>
            </div>
            <div class="column" style="background-color:white">
                <div id="kioskMap"></div>
                <script type="text/javascript">
                    var map = new ol.Map({
                        target: 'kioskMap',
                        layers: [
                            new ol.layer.Tile({
                                source: new ol.source.OSM()
                            })
                        ],
                        view: new ol.View({
                            center: ol.proj.fromLonLat([174.775, -41.292]),
                            zoom: 14
                        })
                    });
                </script>
            </div>
        </div>
    </body>
</html>