<html>
<head>
    <!--
      Get jQuery via CDN (https://jquery.com/)
      jQuery is a js framework that gives us some easy to use
      functions for interacting with webpages and APIs
    -->


    <!-- Load our files -->
    <script type="text/javascript" src="Pay-Online.js"></script>
    <link   rel="stylesheet" href="Pay-Online.css">
  </head>

<body>
    <nav>
        <div class="navigation" role="navigation">
            <div class="nav-bar">
                <ul>
                    <a class="page-scroll"><span class="header-logo">Snapper Hub</span></a>
                    <li><a class="page-scroll" href="#">View Timetable</a></li>
                    <li><a class="page-scroll" href="/map">Kiosk Map</a></li>
                    <li><a class="page-scroll" href="/log-in">Log Out</a></li>
                </ul>
            </div>
        </div>
    </nav>

<<<<<<<
<h2>
    Top Up
</h2>
=======
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="container">
    <h2>Top up</h2>
    <p1>  Snapper ID : 1234 5678 9012 3456     CVV:789   </p1>
    <br>
    <p1>  Current Balance: $ 10.00   </p1>
    <p> Choose payment option</p>
    <input type="radio" id="Credit" name="type" value="Credit">
    <label for="Credit">Credit Card</label>
    <input type="radio" id="Debit" name="type" value="Debit">
    <label for="Debit">Debit Card</label><br>
>>>>>>>

    <form>
      <p> <input type ="text" name="amount"  placeholder="Amount">
        
          <select name="amount" id="Amount"  placeholder="Amount">
            
            <option value="10">$10</option>
            <option value="25">$25</option>
            <option value="50">$50</option>
            <option value="80">$80</option>
            <option value="100">$100</option>

          </select>
      </p>
      <p><input type ="text" name="cardName"  placeholder="Card Name" > </p>

      <p> <input type ="text" name="cardNumber"  placeholder="Card Number" height="60" width="600">

      <!--<img src="D:\Create Camp 2020\Snapper\images\visa.jfif" alt="loading.." style="width:30px;height:30px;">
      <img src="D:\Create Camp 2020\Snapper\images\americanExpress.jfif" alt="loading.." style="width:30px;height:30px;">
      <img src="D:\Create Camp 2020\Snapper\images\visa.jfif" alt="loading.." style="width:30px;height:30px;">
      <img src="D:\Create Camp 2020\Snapper\images\visa.jfif" alt="loading.." style="width:30px;height:30px;">
      -->

<<<<<<<
<form action="/action_page.php">
    <label for="fname">First name:</label>
    <input type="text" id="fname" name="fname"><br><br>
=======

>>>>>>>

<<<<<<<
    <label for="lname">Last name:</label>
    <input type="text" id="lname" name="lname"><br><br>
=======

>>>>>>>

      </p>

      <p> <input type ="text" name="month"  placeholder="Month/Year"></p>
      <p> <input type ="text" name="cvv"    placeholder="CVV"></p>
      
      
      <p><input type="checkbox">
      <label for="Save">Save Details</label></p>

    </form>

    <button type="buttonCancel" id="cancel" >Cancel</button>
    <button type="buttonTop-Up" id="top-up">Top-Up</button>

  </div>


    <footer>
       <!-- 
         <form action="/action_page.php"></form>
       <p>Author: Hege Refsnes</p>
       <p><a href="mailto:hege@example.com">hege@example.com</a></p>
      <input type="image">
      --> 

<<<<<<<
    <button type="buttonTop-Up">Top-Up</button>
    <button type="buttonCancel">Cancel</button>
=======

>>>>>>>

</footer>

<div id="results-area"></div>
<div id="question-display"></div>
<div id="answer-display"></div>
</body>


</html>
