<html>
  <head>
    <!--
      Get jQuery via CDN (https://jquery.com/)
      jQuery is a js framework that gives us some easy to use
      functions for interacting with webpages and APIs
    -->

    

    <!-- Load our files -->
    <script type="text/javascript" src="Pay-Online.js"></script>
    <link   rel="stylesheet" type="text/css" href="Pay-Online.css">
  </head>

  <body>
    <!-- header -->
    <h1>
      
        <span> Snapper Hub </span>
      
      <button type="buttonTimetable">View Timetable</button>
      <button type="buttonLogOut">Log Out</button>
    </h1>

    <h2>
      Top up 
    </h2>

    <h3>  
      Choose payment option 
    </h3>
  <p> 
   <!--radio button here-->

  </p>
  <!--
   <div class="purple">
      <span>Hey Snapper App Team!! </span>
    </div>
  -->

   <p>  Snapper ID : 1234 5678 9012 3456     CVV:789   </p>
   <p>  Current Balance: $ 10.00   </p>
   

    <form>
      <p> <input type ="text" name="amount"  placeholder="Amount">
        
          <select name="amount" id="Amount"  placeholder="Amount">
            
            <option value="10">$10</option>
            <option value="25">$25</option>
            <option value="50">$50</option>
            <option value="80">$80</option>
            <option value="100">$100</option>

          </select>
          <br><br>
          
        </form>
        
      </p>
      <p><input type ="text" name="cardName"  placeholder="Card Name" > </p>

      <p> <input type ="text" name="cardNumber"  placeholder="Card Number" height="60" width="600">

      <img src="D:\Create Camp 2020\Snapper\images\visa.jfif" alt="loading.." style="width:30px;height:30px;">
      <img src="D:\Create Camp 2020\Snapper\images\americanExpress.jfif" alt="loading.." style="width:30px;height:30px;">
      <img src="D:\Create Camp 2020\Snapper\images\visa.jfif" alt="loading.." style="width:30px;height:30px;">
      <img src="D:\Create Camp 2020\Snapper\images\visa.jfif" alt="loading.." style="width:30px;height:30px;">




      </p>

      <p> <input type ="text" name="month"  placeholder="Month/Year"></p>
      <p> <input type ="text" name="cvv"    placeholder="CVV"></p>
      
      
      <p><input type="checkbox">
      <label for="Save">Save Details</label></p>

    </form>

    <footer>
       <!-- 
         <form action="/action_page.php"></form>
       <p>Author: Hege Refsnes</p>
       <p><a href="mailto:hege@example.com">hege@example.com</a></p>
      <input type="image">
      --> 

      <button type="buttonTop-Up">Top-Up</button>
      <button type="buttonCancel">Cancel</button>

    </footer>
    
    <div id="results-area"></div>
    <div id="question-display"></div>
    <div id="answer-display"></div>
  </body>
  


</html>
